<%= form_tag(home_output_path, :method => "get", :remote => :true) do %>
  <%= text_field_tag :symbols, nil, :class => "input-xxlarge", :placeholder => "symbols seperated with spaces (i.e. aapl yhoo goog)" %>
  <%= text_field_tag :start_date, Date.today - 3.month, :type => "date", :placeholder => "start date" %>
  <%= text_field_tag :end_date, Date.today, :class => "date", :placeholder => "end date" %>
  <%= select_tag :periods, "<option>daily</option><option>weekly</option><option>monthly</option><option>dividends</option>".html_safe %>
  <%= select_tag :type, "<option>none</option><option>sma</option><option>ema</option><option>bb</option><option>macd</option><option>rsi</option><option>sto</option>".html_safe %>
  <%= text_field_tag :variables, "", :placeholder => "parameters seperated with spaces (i.e. 20 2 for BB; 12 26 9 for MACD)" %>
  <br>
  <!-- TODO: Add loading animation to the button -->
  <%= submit_tag "Results", :class => "btn btn-large btn-block btn-primary"%>
<% end %>
<!-- TODO: find alternative to make "Clean" button work with ajax -->
<%= button_to "Clean", root_url, :class => "btn btn-warning"%>