<%= form_tag(home_output_path, :method => "get", :remote => :true) do %>
  <%= text_field_tag :symbols, nil, :class => "input-xxlarge", :placeholder => "symbols seperated with spaces" %>
  <%= text_field_tag :start_date, Date.today - 31, :type => "date", :placeholder => "start date" %>
  <%= text_field_tag :end_date, Date.today, :class => "date", :placeholder => "end date" %>
  <%= select_tag :periods, "<option>daily</option><option>weekly</option><option>monthly</option><option>dividends</option>".html_safe %>
  <%= select_tag :type, "<option>none</option><option>sma</option><option>ema</option>".html_safe %>
  <%= text_field_tag :variables, 15, :placeholder => "variables" %>
  <br>
  <!-- TODO: Add loading animation to the button -->
  <%= submit_tag "Results", :class => "btn btn-large btn-block btn-primary"%>
<% end %>
<!-- TODO: find alternative to make "Clean" button work with ajax -->
<%= button_to "Clean", root_url, :class => "btn btn-warning"%>