<% if flash[:error] %>
	<div class="alert alert-error"><%= flash[:error] %></div>
<% elsif flash[:warning] %>
	<div class="alert"><%= flash[:warning] %></div>
<% end %>
<% unless @history_data.nil? %>
	<% @history_data.each do |symbol, data| %>
		<p><%= symbol %></p>
		<table class="table">
		<% data.each_with_index do |row, index| %>
			<% if index == 0 %>
			<tr>
				<% row.each_key do |key| %>
					<th>
						<%= key %>
					</th>
				<% end %>
				<% unless @indicator_data.nil? %>
					<th>
						SMA
					</th>
				<% end %>
			<% end %>
			</tr>
			<tr>
				<% row.each do |column, value| %>
					<td>
						<%= value %>
					</td>
				<% end %>
				<% unless @indicator_data.nil? %>
				<td>
					<%= @indicator_data[symbol][index] %>
				</td>
				<% end %>
			</tr>
		<% end %>
		</table>
	<% end %>
<% end %>
<%= debug(params) if Rails.env.development? %>