<% if flash[:error] %>
	<div class="alert alert-error"><%= flash[:error] %></div>
<% elsif flash[:warning] %>
	<div class="alert"><%= flash[:warning] %></div>
<% end %>
<% unless @history_data.nil? %>
	Query DSL used:<br>
	<% @query.each do |z| %>
		<code><%=	z %></code><br>
	<% end %>
	<p><%= "#{@lookup[:name]} [#{@lookup[:type].downcase} symbol #{@symbol.upcase}], industry - #{@lookup[:industry_category]}, exchange - #{@lookup[:exchange]}." %></p>
	<table class="table">
		<% @history_data.each_with_index do |row, index| %>
			<% if index == 0 %>
				<!-- Header line -->
				<tr>
					<% row.each_key do |key| %>
						<th>
							<%= key %>
						</th>
					<% end %>
					<% unless @indicator_output.nil? %>

						<p align="right"><%= @indicator_abbr %> with parameters: <%= @indicator_params %></p>
						<% if @indicator_name.is_a?(Array) %>
							<% @indicator_name.each do |name| %>
								<th>
									<%= name %>
								</th>
							<% end %>
						<% else %>
							<th>
								<%= @indicator_name %>
							</th>
						<% end %>

					<% end %>
				</tr>

			<% end %>

			<tr>
				<% row.each do |column, value| %>
					<td>
						<%= value %>
					</td>
				<% end %>

				<% unless @indicator_output.nil? %>

						<% if @indicator_output[index].is_a?(Array) %>
								<% @indicator_output[index].each do |data| %>
									<td>
										<%= data.round(3) unless data.nil? %>
									</td>
								<% end %>
						<% else %>
								<td>
									<%= @indicator_output[index].round(3) unless @indicator_output[index].nil? %>
								</td>
						<% end %>

				<% end %>

			</tr>
		<% end %>
	</table>
<% end %>
<%= debug(params) if Rails.env.development? %>